$icons: (
    sprite: (width: 48px, height: 24px, pngPath: '../sprite/sprite.png', svgPath: '../sprite/sprite.svg'),
   facebook: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
   twitter: (width: 24px, height: 24px, backgroundX: -24px, backgroundY: 0px),
);
